@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000; 1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Nunito;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Nunito;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 0 1fr minmax(auto,78.75rem) 1fr 0
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  padding-top: 3.125rem;
  padding-inline: 1.875rem
}
.header__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  -webkit-column-gap: 3.125rem;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem
}
.header__logo {
  position: relative;
  z-index: 5;
  aspect-ratio: 112/42
}
.header__logo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem
}
.menu__list {
  display: flex;
  align-items: center
}
.menu__link {
  color: #0a0b5c;
  font-size: 1.0625rem;
  line-height: 1.52;
  text-transform: capitalize
}
.menu__link:hover {
  -webkit-text-decoration: underline #3538ff;
  text-decoration: underline #3538ff
}
.cta-menu {
  display: flex;
  gap: .9375rem;
  align-items: center
}
.cta-menu__link {
  color: #0a0b5c;
  font-size: 1.0625rem;
  line-height: 1.52;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  -webkit-column-gap: .3125rem;
  -moz-column-gap: .3125rem;
  column-gap: .3125rem
}
.cta-menu__btn {
  color: #e9faff;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -.0625rem;
  background-color: #00f;
  padding-inline: 1rem;
  padding-block: .75rem;
  border-radius: 10rem;
  text-align: center
}
.footer__container {
  padding-block: 1.25rem;
  padding-inline: 1.875rem
}
.top-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10.875rem,1fr));
  align-items: start;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 2.8125rem;
  border-bottom: .0625rem solid #ebebeb
}
.top-footer__column {
  display: flex;
  gap: .9375rem;
  align-items: flex-start
}
.top-footer__title {
  color: #0a0b5c;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -.0625rem;
  text-transform: capitalize
}
.list-top-footer__item:not(:last-child) {
  margin-bottom: 1.25rem
}
.list-top-footer__link {
  text-transform: capitalize;
  color: #8c8f9d;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.0625rem
}
.top-footer__text {
  color: #263238;
  font-size: 1rem;
  line-height: 2.37;
  letter-spacing: -.0625rem;
  margin-bottom: .375em
}
.from-top-footer {
  display: flex;
  align-items: center;
  gap: .8125rem;
  margin-bottom: .5rem
}
.from-top-footer__input {
  width: 15.6875rem;
  border-radius: 10rem;
  background-color: #e2edf9;
  padding-inline: 1.25rem;
  padding-block: 1rem;
  font-size: .875rem;
  letter-spacing: -.0625rem
}
.from-top-footer__input:focus {
  outline: .125rem solid #00f
}
.from-top-footer__btn {
  color: #e9faff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.0625rem;
  border-radius: 10rem;
  background-color: #00f;
  text-align: center;
  padding-inline: 1.25rem;
  padding-block: 1rem
}
.top-footer__privacy {
  color: #a7a7a7;
  font-size: .8125rem;
  line-height: 1.53;
  letter-spacing: -.0625rem
}
.body-footer {
  padding-block: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  border-bottom: .0625rem solid #ebebeb
}
.list-body-footer {
  display: flex;
  align-items: center;
  gap: .9375rem
}
.list-body-footer__link {
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s,-webkit-transform .4s
}
.list-body-footer__link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}
.bottom-footer {
  padding-top: 1.0625rem;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem
}
.list-bottom-footer {
  display: flex;
  align-items: center;
  gap: .9375rem
}
.list-bottom-footer__item {
  color: #8c8f9d;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: -.0625rem
}
.bottom-footer__privacy {
  color: #8c8f9d;
  font-size: .875rem;
  letter-spacing: -.0625rem
}
.hero {
  padding-top: 2.0625rem;
  padding-inline: 1.875rem;
  position: relative
}
.hero__decor {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  -webkit-transform: translateY(-6.25rem);
  transform: translateY(-6.25rem)
}
.hero__container {
  display: flex;
  justify-content: space-between;
  gap: 1.5625rem
}
.hero__body {
  align-self: center
}
.hero__title {
  max-width: 39.6875rem;
  text-transform: capitalize;
  color: #0a0b5c;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -.1875rem;
  margin-bottom: .8125rem
}
.hero__title--gradient {
  background: linear-gradient(to right,#0103ff 0,#01e4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.hero__title--blue {
  color: #00f
}
.hero__text {
  max-width: 35rem;
  color: #263238;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.5rem
}
.cta-hero {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.cta-hero__btn {
  padding: 1.4375rem 1.875rem;
  transition: all .4s;
  border-radius: 10rem;
  text-align: center;
  line-height: 1.18;
  letter-spacing: -.0625rem;
  font-weight: 500;
  font-size: 1rem;
  color: #e9faff;
  text-transform: capitalize
}
.cta-hero__btn:nth-child(1) {
  background-color: #020bff
}
.cta-hero__btn:nth-child(2) {
  background-color: #0a0b5c
}
.cta-hero__btn:nth-child(1):hover {
  background-color: rgba(0,0,0,0);
  color: #263238;
  border: .125rem solid #020bff
}
.cta-hero__btn:nth-child(2):hover {
  background-color: rgba(0,0,0,0);
  color: #263238;
  border: .125rem solid #0a0b5c
}
.hero__image {
  aspect-ratio: 484/725;
  max-width: 30.25rem
}
.hero__image img {
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__slider {
  margin-bottom: 5.1875rem
}
.hero__slide--modified {
  display: flex;
  flex-direction: column;
  row-gap: 4.375rem
}
.hero__slide--modified img {
  aspect-ratio: 417/417;
  max-width: 26.0625rem;
  background-color: #e8f1ff;
  border-radius: 3.25rem
}
.hero__slide--modified p {
  background: linear-gradient(to right,#0103ff 0,#01e4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.875rem;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -.0625rem;
  max-width: 19.75rem
}
.hero__wrapper.swiper-wrapper {
  display: flex
}
.swiper__text {
  margin-top: 3.125rem;
  max-width: 58.6875rem
}
.swiper__text p {
  color: #263238;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.5
}
.cards-section {
  padding-inline: 1.875rem
}
.cards-section__container {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  row-gap: 2.625rem;
  border-radius: 3.25rem
}
.top-cards-section__items {
  display: flex;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.top-cards-section__item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1.25rem
}
.top-cards-section__item:nth-child(1) {
  flex-basis: 58%;
  flex-grow: 1
}
.top-cards-section__item:nth-child(1) .top-cards-section__image {
  aspect-ratio: 368/293;
  align-self: flex-end
}
.top-cards-section__item:nth-child(1) .top-cards-section__image img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden
}
.top-cards-section__item:nth-child(1) .top-cards-section__title {
  max-width: 16.875rem
}
.top-cards-section__item:nth-child(2) {
  flex-basis: 32%
}
.top-cards-section__item:nth-child(2) .top-cards-section__image {
  aspect-ratio: 218/223;
  align-self: center;
  margin-bottom: 1.375rem
}
.top-cards-section__item:nth-child(2) .top-cards-section__image img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden
}
.top-cards-section__item:nth-child(2) .top-cards-section__text {
  margin-bottom: 2.3125rem
}
.top-cards-section__title {
  color: #0a0b5c;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -.0625rem;
  margin-bottom: 1.25rem
}
.top-cards-section__footer {
  display: flex;
  align-items: flex-start
}
.top-cards-section__footer .top-cards-section__text {
  max-width: 22.6875rem
}
.top-cards-section__text {
  color: #263238;
  font-size: 1.0625rem;
  line-height: 1.52
}
.top-cards-section__btn {
  padding-inline: 1.4375rem;
  padding-block: .9375rem;
  border-radius: 10rem;
  color: #0a0b5c;
  font-size: 1rem;
  line-height: 1.18;
  letter-spacing: -.0625rem;
  text-align: center;
  border: .125rem solid #0a0b5c
}
.bottom-cards-section__content {
  display: flex;
  align-items: center;
  row-gap: 4.375rem
}
.bottom-cards-section__body {
  max-width: 29.1875rem
}
.bottom-cards-section__lable {
  position: relative;
  display: inline-block;
  background: linear-gradient(to right,#0103ff 0,#01e4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.52;
  padding-left: 1.875rem
}
.bottom-cards-section__lable::before {
  content: "";
  position: absolute;
  top: .125rem;
  left: .4375rem;
  background-image: url(../img/Vector.svg);
  background-position: center;
  width: 1.0625rem;
  min-height: 1.0625rem
}
.bottom-cards-section__title {
  color: #0a0b5c;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -.125rem;
  margin-bottom: .625rem
}
.bottom-cards-section__text {
  color: #263238;
  font-size: 1.0625rem;
  line-height: 1.52
}
.bottom-cards-section__cta {
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: .9375rem;
  align-items: center
}
.bottom-cards-section__btn {
  padding-block: .9375rem;
  padding-inline: 1.4375rem;
  text-align: center;
  background-color: #00f;
  border-radius: 10rem;
  color: #e9faff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -.0625rem
}
.bottom-cards-section__link {
  position: relative;
  color: #0a0b5c;
  font-size: 1rem;
  letter-spacing: -.0625rem
}
.bottom-cards-section__link::after {
  content: "";
  position: absolute;
  top: .1875rem;
  right: -1.25rem;
  background-image: url(../img/Vector-3.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: .75rem;
  min-height: .625rem;
  vertical-align: middle
}
.image-bottom-cards-section {
  position: relative;
  max-width: 37.8125rem
}
.image-bottom-cards-section .image-bottom-cards-section__main-image {
  aspect-ratio: 605/752;
  border-radius: 3.875rem;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden
}
.user-lable-image-bottom-cards-section {
  padding: 1.4375rem;
  background-color: #fff;
  position: absolute;
  top: 8%;
  left: -7%
}
.user-lable-image-bottom-cards-section p {
  background: linear-gradient(to right,#0103ff 0,#01e4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 10.125rem;
  margin-top: 1.25rem;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -.0625rem
}
.user-lable-image-bottom-cards-section__decor {
  max-width: 7.4375rem;
  width: 100%;
  height: 7.4375rem;
  border-radius: 50%;
  margin-top: -3.9375rem;
  margin-right: -1.875rem
}
.user-lable-image-bottom-cards-section__user {
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  -webkit-transform: translateX(35%);
  transform: translateX(35%)
}
.sum-lable-image-bottom-cards-section {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.625rem;
  -moz-column-gap: 1.625rem;
  column-gap: 1.625rem;
  position: absolute;
  bottom: 18%;
  left: 12%;
  background-color: #fff;
  padding-block: 1.1875rem;
  padding-inline: 2.6875rem
}
.sum-lable-image-bottom-cards-section__icon {
  background: linear-gradient(360deg,#5676ff 0,#0103ff 100%);
  padding: 1.4375rem
}
.sum-lable-image-bottom-cards-section__text {
  display: flex;
  flex-direction: column
}
.sum-lable-image-bottom-cards-section__text span {
  color: #0a0b5c;
  line-height: 1.2;
  letter-spacing: -.0625rem
}
.sum-lable-image-bottom-cards-section__text p {
  color: #5676ff;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center
}
.cards-section--margin {
  margin-bottom: 5.1875rem
}
.testimonials__title {
  text-align: center;
  color: #0a0b5c;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -.125rem;
  margin-bottom: .5rem
}
.testimonials__text {
  max-width: 29.1875rem;
  text-align: center;
  margin-inline: auto
}
.testimonials__text p {
  color: #263238;
  line-height: 1.52
}
.top-testimonials {
  margin-bottom: 1.25rem
}
.top-testimonials__items {
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: .9375rem;
  align-items: flex-start;
  overflow-x: scroll;
  overflow-y: hidden
}
.testimonials-item {
  flex-shrink: 0;
  flex-basis: 30.5rem;
  border-radius: 1rem;
  background: linear-gradient(127deg,#e9f2ff 0,#fff 100%)
}
.testimonials-item__ratings {
  max-width: 10.75rem;
  display: flex;
  padding-inline: 1rem;
  padding-block: .6875rem;
  background-color: #fff;
  border-radius: 1rem;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.testimonials-item__text p {
  color: #0a0b5c;
  line-height: 1.52
}
.footer-testimonials-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25rem
}
.footer-testimonials-item__user {
  display: flex;
  gap: .625rem;
  align-items: center
}
.footer-testimonials-item__name {
  color: #0a0b5c;
  font-weight: 500;
  line-height: 1.5
}
.footer-testimonials-item__company {
  color: #263238;
  line-height: 1.5
}
.footer-testimonials-item__avatar {
  aspect-ratio: 1/1;
  max-width: 3.125rem;
  min-height: 3.125rem;
  border-radius: 50%
}
.footer-testimonials-item__avatar img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden
}
.bottom-testimonials__items {
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: .9375rem;
  align-items: flex-start;
  overflow-x: scroll;
  overflow-y: hidden
}
.customers {
  padding-inline: 1.875rem
}
.customers__title {
  color: #8c8f9d;
  font-size: 1.0625rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.52;
  letter-spacing: .125rem
}
.customers__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(11.4375rem,1fr));
  row-gap: 1.25rem;
  justify-items: center;
  align-items: center
}
.item-customers__link {
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s,-webkit-transform .4s
}
.item-customers__link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}
.customers--margin {
  margin-bottom: 5.0625rem
}
.banner {
  padding-inline: 1.875rem
}
.banner__container {
  background: linear-gradient(to right,#0103ff 0,#01e4ff 100%);
  border-radius: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between
}
.banner__body {
  align-self: center
}
.banner__title {
  color: #fff;
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: .4375rem;
  letter-spacing: -.0625rem;
  text-transform: capitalize
}
.banner__text {
  color: #fff;
  line-height: 1.52;
  margin-bottom: 1.625em
}
.cta-banner {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.cta-banner__btn {
  padding-block: 1.4375rem;
  padding-inline: 1.875rem;
  text-align: center;
  background-color: #0a0b5c;
  border-radius: 10rem;
  color: #e9faff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -.0625rem
}
.cta-banner__link {
  display: flex;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: -.0625rem
}
.banner__img {
  margin-top: -2.1875rem;
  min-height: 100%;
  max-width: 33.75rem
}
.banner__img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden
}
.banner--margin {
  margin-bottom: 6rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:78.75em) {
  .top-footer {
    padding-bottom: 8.5rem
  }
  .hero__title {
    font-size: 4.375rem
  }
  .hero__wrapper.swiper-wrapper {
    -webkit-column-gap: 2.1875rem;
    -moz-column-gap: 2.1875rem;
    column-gap: 2.1875rem
  }
  .cards-section__container {
    padding-top: 3.3125rem
  }
  .cards-section__container {
    padding-bottom: 4.5625rem
  }
  .cards-section__container {
    padding-inline: 3.3125rem
  }
  .top-cards-section__item {
    padding-inline: 2.8125rem
  }
  .top-cards-section__item {
    padding-block: 3.3125rem
  }
  .bottom-cards-section__title {
    font-size: 3.75rem
  }
  .bottom-cards-section__text {
    margin-bottom: 2.5rem
  }
  .sum-lable-image-bottom-cards-section__text span {
    font-size: 2.75rem
  }
  .testimonials__title {
    font-size: 3.75rem
  }
  .testimonials__text {
    margin-bottom: 3.25rem
  }
  .top-testimonials {
    padding-left: 3.125rem
  }
  .testimonials-item {
    padding-left: 3rem
  }
  .testimonials-item {
    padding-right: 3.3125rem
  }
  .testimonials-item {
    padding-bottom: 2.6875rem
  }
  .testimonials-item {
    padding-top: 2.3125rem
  }
  .testimonials-item__ratings {
    margin-bottom: 1.9375rem
  }
  .testimonials-item__text {
    margin-bottom: 2.0625rem
  }
  .footer-testimonials-item__name {
    font-size: 1.25rem
  }
  .footer-testimonials-item__company {
    font-size: 1rem
  }
  .bottom-testimonials {
    padding-right: 3.125rem
  }
  .customers__title {
    margin-bottom: 3.125rem
  }
  .banner__container {
    padding-left: 3rem
  }
  .banner__title {
    font-size: 2.875rem
  }
  .banner__text {
    font-size: 1.0625rem
  }
}
@media (min-width:90em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .swiper__text {
    padding-left: 15rem
  }
  .top-cards-section__footer {
    -webkit-column-gap: 3.75rem;
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem
  }
  .bottom-cards-section__content {
    -webkit-column-gap: 3.75rem;
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem
  }
  .testimonials__text p {
    font-size: 1.0625rem
  }
  .testimonials-item__text p {
    font-size: 1.1875rem
  }
  .testimonials--margin {
    margin-bottom: 8.25rem
  }
  .customers__items {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
}
@media (max-width:75em) {
  .top-cards-section__items {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .top-cards-section__item:nth-child(1) .top-cards-section__image {
    margin-bottom: 1.25rem;
    align-self: flex-start
  }
  .top-cards-section__item:nth-child(1) .top-cards-section__text {
    margin-right: auto
  }
  .top-cards-section__item:nth-child(2) .top-cards-section__image {
    align-self: flex-start
  }
  .banner__container {
    padding-top: 1.875rem
  }
  .banner__img {
    align-self: center;
    margin-top: 0
  }
}
@media (max-width:30em) {
  .top-footer {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .top-footer__column {
    text-align: center;
    align-items: center
  }
  .list-bottom-footer {
    text-align: center;
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
}
@media (max-width:20em) {
  .top-footer {
    padding-bottom: 4.375rem
  }
  .hero__title {
    font-size: 2.25rem
  }
  .hero__wrapper.swiper-wrapper {
    -webkit-column-gap: .0000000625rem;
    -moz-column-gap: .0000000625rem;
    column-gap: .0000000625rem
  }
  .cards-section__container {
    padding-top: 1.5625rem
  }
  .cards-section__container {
    padding-bottom: 2.1875rem
  }
  .cards-section__container {
    padding-inline: 1.25rem
  }
  .top-cards-section__item {
    padding-inline: 1.25rem
  }
  .top-cards-section__item {
    padding-block: 1.5rem
  }
  .bottom-cards-section__title {
    font-size: 1.875rem
  }
  .bottom-cards-section__text {
    margin-bottom: 1.25rem
  }
  .sum-lable-image-bottom-cards-section__text span {
    font-size: 1.75rem
  }
  .testimonials__title {
    font-size: 1.875rem
  }
  .testimonials__text {
    margin-bottom: 1.25rem
  }
  .top-testimonials {
    padding-left: .0000000625rem
  }
  .testimonials-item {
    padding-left: .9375rem
  }
  .testimonials-item {
    padding-right: .9375rem
  }
  .testimonials-item {
    padding-bottom: .9375rem
  }
  .testimonials-item {
    padding-top: .9375rem
  }
  .testimonials-item__ratings {
    margin-bottom: .8125rem
  }
  .testimonials-item__text {
    margin-bottom: .875rem
  }
  .footer-testimonials-item__name {
    font-size: .875rem
  }
  .footer-testimonials-item__company {
    font-size: .75rem
  }
  .bottom-testimonials {
    padding-right: .0000000625rem
  }
  .customers__title {
    margin-bottom: 1.5rem
  }
  .banner__container {
    padding-left: 1.5rem
  }
  .banner__title {
    font-size: 1.625rem
  }
  .banner__text {
    font-size: .875rem
  }
}
@media (max-width:79.25em) {
  .from-top-footer {
    flex-direction: column
  }
  .from-top-footer__btn {
    width: 100%
  }
  .from-top-footer__input {
    width: 100%
  }
}
@media (max-width:78.75em) {
  .bottom-cards-section__content {
    flex-direction: column
  }
}
@media (max-width:67.1875em) {
  .top-footer {
    justify-content: center
  }
  .top-footer__column--form {
    text-align: center;
    grid-column: span 3;
    grid-row: 2/3
  }
  .top-footer__column {
    flex-direction: column
  }
}
@media (max-width:53.125em) {
  .banner__container {
    flex-direction: column;
    row-gap: 1.5625rem
  }
  .banner__body {
    text-align: center
  }
  .cta-banner {
    justify-content: center
  }
  .cta-banner__btn {
    padding-block: 1rem;
    padding-inline: 1.4375rem
  }
}
@media (max-width:48.06125em) {
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    z-index: 4;
    background-color: #01e4ff;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  .menu__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .menu__link {
    font-size: 1.625rem;
    font-weight: 700
  }
  .cta-menu__btn {
    padding-inline: 1.5rem;
    padding-block: 1rem
  }
  .cta-menu__link {
    font-size: 1.1875rem;
    font-weight: 700
  }
  .swiper__text {
    padding-left: 1.875rem
  }
  .top-cards-section__footer {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .bottom-cards-section__content {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .testimonials__text p {
    font-size: .875rem
  }
  .testimonials-item__text p {
    font-size: .875rem
  }
  .testimonials--margin {
    margin-bottom: 5.0625rem
  }
  .customers__items {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .hero {
    padding-top: 3.125rem
  }
  .hero__container {
    flex-direction: column
  }
  .hero__image {
    align-self: center
  }
  .hero__title {
    max-width: none
  }
  .hero__slider {
    max-width: 31.25rem;
    margin: 0 auto;
    padding: .9375rem 1.875rem;
    overflow: hidden
  }
  .top-cards-section__item:nth-child(1) .top-cards-section__footer {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .top-cards-section__item:nth-child(1) .top-cards-section__footer .top-cards-section__btn {
    width: 100%;
    justify-self: stretch
  }
  .testimonials-item__text {
    max-width: 16.6875rem
  }
  .testimonials-item {
    flex-basis: 18.75rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:40.625em) {
  .user-lable-image-bottom-cards-section {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .625rem
  }
  .sum-lable-image-bottom-cards-section {
    position: static;
    margin-top: 1.25rem
  }
  .bottom-cards-section__cta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem
  }
}
@media (max-width:36.75em) {
  .bottom-footer {
    flex-direction: column;
    align-items: center
  }
}
@media (max-width:33.75em) {
  .user-lable-image-bottom-cards-section {
    flex-direction: column
  }
  .sum-lable-image-bottom-cards-section {
    flex-direction: column;
    row-gap: 1.25rem;
    justify-content: center;
    align-items: center
  }
  .sum-lable-image-bottom-cards-section__text {
    row-gap: .9375rem
  }
  .sum-lable-image-bottom-cards-section__text span {
    font-size: 1.1875rem;
    text-align: center
  }
  .sum-lable-image-bottom-cards-section__text p {
    font-size: .875rem
  }
}
@media (max-width:31.25em) {
  .cta-hero {
    flex-direction: column;
    row-gap: 1.5rem
  }
  .cta-hero__btn {
    width: 100%;
    padding: .8125rem 1.4375rem
  }
  .hero__text {
    font-size: 1rem
  }
  .hero__slide {
    padding: .625rem;
    align-self: center
  }
  .hero__slide img {
    width: 18.75rem
  }
  .top-cards-section__title {
    font-size: 1.5rem
  }
  .top-cards-section__text {
    font-size: .875rem
  }
  .top-cards-section__btn {
    font-size: .875rem;
    font-weight: 500
  }
}
@media (max-width:25.625em) {
  .cta-banner {
    flex-direction: column;
    row-gap: .9375rem
  }
}
@media (min-width:48.06125em)and (max-width:90em) {
  .menu__list {
    -webkit-column-gap: clamp(.625rem ,-.0912416918rem + 1.4902685464vw ,1.25rem);
    -moz-column-gap: clamp(.625rem ,-.0912416918rem + 1.4902685464vw ,1.25rem);
    column-gap: clamp(.625rem ,-.0912416918rem + 1.4902685464vw ,1.25rem)
  }
}
@media (min-width:20em)and (max-width:78.75em) {
  .top-footer {
    padding-bottom: clamp(4.375rem ,2.9707446809rem + 7.0212765957vw ,8.5rem)
  }
  .hero__title {
    font-size: clamp(2.25rem ,1.5265957447rem + 3.6170212766vw ,4.375rem)
  }
  .hero__wrapper.swiper-wrapper {
    -webkit-column-gap: clamp(.0000000625rem ,-.7446807673rem + 3.7234041489vw ,2.1875rem);
    -moz-column-gap: clamp(.0000000625rem ,-.7446807673rem + 3.7234041489vw ,2.1875rem);
    column-gap: clamp(.0000000625rem ,-.7446807673rem + 3.7234041489vw ,2.1875rem)
  }
  .cards-section__container {
    padding-top: clamp(1.5625rem ,.9667553191rem + 2.9787234043vw ,3.3125rem)
  }
  .cards-section__container {
    padding-bottom: clamp(2.1875rem ,1.3789893617rem + 4.0425531915vw ,4.5625rem)
  }
  .cards-section__container {
    padding-inline: clamp(1.25rem ,.5478723404rem + 3.5106382979vw ,3.3125rem)
  }
  .top-cards-section__item {
    padding-inline: clamp(1.25rem ,.7180851064rem + 2.6595744681vw ,2.8125rem)
  }
  .top-cards-section__item {
    padding-block: clamp(1.5rem ,.8829787234rem + 3.085106383vw ,3.3125rem)
  }
  .bottom-cards-section__title {
    font-size: clamp(1.875rem ,1.2367021277rem + 3.1914893617vw ,3.75rem)
  }
  .bottom-cards-section__text {
    margin-bottom: clamp(1.25rem ,.8244680851rem + 2.1276595745vw ,2.5rem)
  }
  .sum-lable-image-bottom-cards-section__text span {
    font-size: clamp(1.75rem ,1.4095744681rem + 1.7021276596vw ,2.75rem)
  }
  .testimonials__title {
    font-size: clamp(1.875rem ,1.2367021277rem + 3.1914893617vw ,3.75rem)
  }
  .testimonials__text {
    margin-bottom: clamp(1.25rem ,.5691489362rem + 3.4042553191vw ,3.25rem)
  }
  .top-testimonials {
    padding-left: clamp(.0000000625rem ,-1.0638297035rem + 5.3191488298vw ,3.125rem)
  }
  .testimonials-item {
    padding-left: clamp(.9375rem ,.2353723404rem + 3.5106382979vw ,3rem)
  }
  .testimonials-item {
    padding-right: clamp(.9375rem ,.1289893617rem + 4.0425531915vw ,3.3125rem)
  }
  .testimonials-item {
    padding-bottom: clamp(.9375rem ,.3417553191rem + 2.9787234043vw ,2.6875rem)
  }
  .testimonials-item {
    padding-top: clamp(.9375rem ,.4694148936rem + 2.3404255319vw ,2.3125rem)
  }
  .testimonials-item__ratings {
    margin-bottom: clamp(.8125rem ,.4295212766rem + 1.914893617vw ,1.9375rem)
  }
  .testimonials-item__text {
    margin-bottom: clamp(.875rem ,.4707446809rem + 2.0212765957vw ,2.0625rem)
  }
  .footer-testimonials-item__name {
    font-size: clamp(.875rem ,.7473404255rem + .6382978723vw ,1.25rem)
  }
  .footer-testimonials-item__company {
    font-size: clamp(.75rem ,.664893617rem + .4255319149vw ,1rem)
  }
  .bottom-testimonials {
    padding-right: clamp(.0000000625rem ,-1.0638297035rem + 5.3191488298vw ,3.125rem)
  }
  .customers__title {
    margin-bottom: clamp(1.5rem ,.9468085106rem + 2.7659574468vw ,3.125rem)
  }
  .banner__container {
    padding-left: clamp(1.5rem ,.9893617021rem + 2.5531914894vw ,3rem)
  }
  .banner__title {
    font-size: clamp(1.625rem ,1.1994680851rem + 2.1276595745vw ,2.875rem)
  }
  .banner__text {
    font-size: clamp(.875rem ,.8111702128rem + .3191489362vw ,1.0625rem)
  }
}
@media (min-width:47.99875em)and (max-width:90em) {
  .swiper__text {
    padding-left: clamp(1.875rem ,-13.1241629713rem + 31.2490699682vw ,15rem)
  }
  .top-cards-section__footer {
    -webkit-column-gap: clamp(1.25rem ,-1.6069834231rem + 5.9522038035vw ,3.75rem);
    -moz-column-gap: clamp(1.25rem ,-1.6069834231rem + 5.9522038035vw ,3.75rem);
    column-gap: clamp(1.25rem ,-1.6069834231rem + 5.9522038035vw ,3.75rem)
  }
  .bottom-cards-section__content {
    -webkit-column-gap: clamp(1.25rem ,-1.6069834231rem + 5.9522038035vw ,3.75rem);
    -moz-column-gap: clamp(1.25rem ,-1.6069834231rem + 5.9522038035vw ,3.75rem);
    column-gap: clamp(1.25rem ,-1.6069834231rem + 5.9522038035vw ,3.75rem)
  }
  .testimonials__text p {
    font-size: clamp(.875rem ,.6607262433rem + .4464152853vw ,1.0625rem)
  }
  .testimonials-item__text p {
    font-size: clamp(.875rem ,.5178770721rem + .7440254754vw ,1.1875rem)
  }
  .testimonials--margin {
    margin-bottom: clamp(5.0625rem ,1.4198461355rem + 7.5890598494vw ,8.25rem)
  }
  .customers__items {
    -webkit-column-gap: clamp(1.25rem ,-.8927375673rem + 4.4641528526vw ,3.125rem);
    -moz-column-gap: clamp(1.25rem ,-.8927375673rem + 4.4641528526vw ,3.125rem);
    column-gap: clamp(1.25rem ,-.8927375673rem + 4.4641528526vw ,3.125rem)
  }
}